/* contact */
section.contact {
  width: 100%;
  height: 100vh;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

section.contact .contact-copy {
  width: 30%;
  text-align: center;
}

section.contact .contact-copy p {
  font-weight: 400;
  font-size: 17px;
}

section.contact .contact-copy a {
  text-decoration: none;
  color: #000;
}

section.contact .contact-copy span#copyright {
  font-size: 10px;
}
