.smoke-footer {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
  contain: layout style paint;
}

.smoke-footer canvas {
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--base-300);
}

.footer-content,
.footer-content *,
.footer-bar,
.footer-bar * {
  pointer-events: none;
}

.footer-content {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
  color: var(--base-100);
}

.footer-content .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.footer-heading {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  text-align: center;
}

.footer-heading h2 {
  width: 65%;
  max-width: 1500px;
  color: var(--base-100);
}

.footer-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 4;
}

.footer-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.25rem;
}

.footer-bar-left {
  display: flex;
  align-items: center;
}

@media (max-width: 1000px) {
  .footer-heading h2 {
    width: 90%;
  }

  .footer-bar-right {
    text-align: right;
  }
}
