@import url("https://fonts.cdnfonts.com/css/roslindale");

:root {
  --base-100: #e0ded1;
  --base-200: #a6a49a;
  --base-300: #615558;
  --base-400: #40373a;
  --base-500: #231f20;
  --base-600: #171415;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
  background-color: #000;
  font-family: var(--font-host-grotesk), sans-serif;
  color: var(--base-100);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roslindale Variable", sans-serif;
  font-weight: 900;
  line-height: 0.85;
  text-transform: uppercase;
}

h1 {
  font-size: clamp(4rem, 12vw, 20rem);
}

h2 {
  font-size: clamp(3rem, 8vw, 13rem);
}

h3 {
  font-size: clamp(2rem, 5vw, 8rem);
}

h4 {
  font-size: clamp(1.75rem, 3.5vw, 5.25rem);
}

h5 {
  font-size: clamp(1.5rem, 3vw, 4.5rem);
}

h6 {
  font-size: clamp(1.25rem, 2vw, 4rem);
}

p {
  font-family: var(--font-host-grotesk), sans-serif;
  font-size: 1.15rem;
  font-weight: 450;
  line-height: 1.15;
  letter-spacing: -0.025rem;
  color: var(--base-200);
}

p.sm {
  font-size: 1rem;
}

p.md {
  font-size: 1.45rem;
  letter-spacing: -0.035rem;
}

p.lg {
  font-size: 1.75rem;
  letter-spacing: -0.045rem;
}

p.mono {
  font-family: var(--font-dm-mono), monospace;
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 0.9;
  text-transform: uppercase;
  color: var(--base-300);
}

a[href^="tel"],
a[href^="mailto"] {
  color: inherit;
  text-decoration: none;
}

.container {
  position: relative;
  width: 100%;
  max-width: 2000px;
  height: 100%;
  padding: 2.5rem;
  margin: 0 auto;
}

.section-footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 2000px;
  padding: 2.5rem;
  transform: translateX(-50%);
}

.section-footer p {
  color: var(--base-100);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  z-index: 1;
  isolation: isolate;
  will-change: transform, opacity, clip-path;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}

::view-transition-new(root) {
  z-index: 10000;
  animation: none !important;
}

@media (max-width: 1000px) {
  .container,
  .section-footer {
    padding: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  p.sm {
    font-size: 0.9rem;
  }

  p.md {
    font-size: 1.35rem;
    letter-spacing: -0.035rem;
  }

  p.lg {
    font-size: 1.5rem;
    letter-spacing: -0.045rem;
  }
}
