@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Condensed", sans-serif;
}

h1 {
  text-transform: uppercase;
  font-size: clamp(3rem, 5vw, 7rem);
  font-weight: 900;
  line-height: 0.9;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  position: relative;
  width: 100%;
  height: 100svh;
  color: #fff;
  overflow: hidden;
}

.intro,
.outro {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #252627;
}

.spotlight {
  background-color: #eb5e55;
}

.svg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.svg-container svg {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  min-width: 700px;
}

path[style*="00000165916812323603747700000005172204528299523731"],
path[style*="00000155118913244152270350000004269844240891065749"] {
  fill: #eb5e55 !important;
}

.spotlight-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 40%;
  z-index: 2;
}

@media (max-width: 1000px) {
  .intro h1,
  .outro h1 {
    width: 75%;
  }

  .spotlight-header {
    width: 90%;
  }
}
