@font-face {
  font-family: "Verilet";
  src: url("/fonts/verilet.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cossette Titre";
  src: url("/fonts/cossette-titre.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SUSE Mono";
  src: url("/fonts/suse-mono-variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
