.nav {
  width: 100%;
  padding: 2.25rem;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

@media (max-width: 1000px) {
  .nav {
    padding: 1.5rem;
  }
}
