@import url("https://fonts.cdnfonts.com/css/schabo");

:root {
  --base-100: #ffffeb;
  --base-200: #f4f5e0;
  --base-300: #b6dedb;
  --base-400: #216ad1;
  --base-500: #ffbab4;
  --base-600: #7c4563;
  --base-700: #f7f780;
  --base-800: #ff8356;
  --base-900: #5ea85e;
  --base-1000: #0f0f0f;
  --font-schabo: "SCHABO", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--base-100);
  color: var(--base-1000);
}

/* headers - v1 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-schabo);
  font-weight: 400;
  font-style: normal;
  line-height: 0.85;
  text-transform: uppercase;
}

h1 {
  font-size: clamp(4rem, 10vw, 10rem);
}

h2 {
  font-size: clamp(3.5rem, 9vw, 9rem);
}

h3 {
  font-size: clamp(3rem, 8vw, 8rem);
}

h4 {
  font-size: clamp(2.5rem, 7vw, 7rem);
}

h5 {
  font-size: clamp(2rem, 6vw, 6rem);
}

h6 {
  font-size: clamp(1.5rem, 5vw, 5rem);
}

/* headers - v2 */
h1.v2,
h2.v2,
h3.v2,
h4.v2,
h5.v2,
h6.v2 {
  font-family: var(--font-host-grotesk);
  font-weight: 400;
  line-height: 0.85;
  letter-spacing: -2%;
  text-transform: none;
}

h1.v2 {
  font-size: clamp(3.5rem, 9vw, 9rem);
}

h2.v2 {
  font-size: clamp(3rem, 8vw, 8rem);
}

h3.v2 {
  font-size: clamp(2.5rem, 7vw, 7rem);
}

h4.v2 {
  font-size: clamp(2rem, 6vw, 6rem);
}

h5.v2 {
  font-size: clamp(1.5rem, 5vw, 5rem);
}

h6.v2 {
  font-size: clamp(1.25rem, 4vw, 4rem);
}

/* p - body */
p {
  font-family: var(--font-host-grotesk);
  font-size: 1.15rem;
  font-weight: 400;
  letter-spacing: -2%;
}

p.sm {
  font-size: 1rem;
}

p.md {
  font-size: 1.25rem;
}

p.lg {
  font-size: 1.35rem;
}

/* p - mono */
p.mono {
  font-family: var(--font-dm-mono);
  font-size: 0.85rem;
  font-weight: 500;
  text-transform: uppercase;
}

p.mono.sm {
  font-size: 0.8rem;
}

p.mono.md {
  font-size: 0.9rem;
}

p.mono.lg {
  font-size: 0.95rem;
}

/* p - hand */
p.hand {
  font-family: var(--font-shadows-into-light);
  font-size: 1rem;
  font-weight: 900;
  text-transform: lowercase;
  -webkit-text-stroke: 0.05px black;
  letter-spacing: 0.5px;
}

p.hand.sm {
  font-size: 0.9rem;
}

p.hand.md {
  font-size: 1.1rem;
}

p.hand.lg {
  font-size: 1.2rem;
}

/* images */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* container */
.container {
  position: relative;
  width: 100%;
  max-width: 2000px;
  height: 100%;
  margin: 0 auto;
}

.pad {
  padding: 2.25rem;
}

.pad-media {
  padding: 0 0.75rem;
}

@media (max-width: 1000px) {
  .pad {
    padding: 1.5rem;
  }
}
