@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #e3e3db;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1,
h3 {
  font-weight: 400;
  letter-spacing: -0.05rem;
  line-height: 1;
}

h1 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

section {
  position: relative;
  width: 100%;
  height: 100svh;
}

.hero-img,
.hero-header,
.hero-copy {
  position: absolute;
  width: 100%;
  height: 100%;
  will-change: transform, opacity, width, height;
}

.hero-img {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.hero-header,
.hero-copy {
  padding: 4rem;
  color: #fff;
  display: flex;
  align-items: flex-end;
}

.hero-header h1 {
  width: 75%;
}

.hero-copy h3 {
  width: 50%;
}

.about,
.outro {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about {
  margin-top: 275svh;
}

.about-images {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
}

.about-imgs-col {
  position: relative;
  height: 125%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  will-change: transform;
}

.about-imgs-col .img {
  width: 125px;
  height: 125px;
  border-radius: 10px;
  overflow: hidden;
}

#about-imgs-col-1 {
  transform: translateY(1000px);
}

#about-imgs-col-2 {
  transform: translateX(-225px) translateY(500px);
}

#about-imgs-col-3 {
  transform: translateX(225px) translateY(500px);
}

#about-imgs-col-4 {
  transform: translateY(1000px);
}

.about-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
}

.outro {
  background-color: #cecec6;
}

.outro h3 {
  width: 35%;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  .hero {
    z-index: 2;
  }

  .hero-header,
  .hero-copy {
    padding: 2rem;
  }

  .hero-header h1,
  .hero-copy h3 {
    width: 100%;
  }

  .about-header,
  .outro h3 {
    width: 100%;
    padding: 2rem;
  }

  .about-images {
    padding: 2rem;
  }

  .about-imgs-col .img {
    width: 75px;
    height: 75px;
    opacity: 0.25;
    filter: saturate(0);
  }

  #about-imgs-col-2,
  #about-imgs-col-3 {
    transform: translateX(0px) translateY(500px);
  }
}
