* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  position: relative;
  width: 100%;
  height: 100svh;
  background: hsl(270, 56%, 65%);
  overflow: hidden;
}

.depth-layer {
  position: absolute;
  width: 250%;
  height: 250%;
  top: -75%;
  left: -75%;
  will-change: transform;
}

.depth-mask {
  width: 100%;
  height: 100%;
  -webkit-mask:
    linear-gradient(#fff, #fff),
    url("/mask.svg") center / var(--size) no-repeat;
  -webkit-mask-composite: subtract;
  mask:
    linear-gradient(#fff, #fff),
    url("/mask.svg") center / var(--size) no-repeat;
  mask-composite: subtract;
}

.logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 200px;
  height: auto;
  object-fit: contain;
}

.depth-layer:nth-child(1) {
  z-index: 7;
  filter: drop-shadow(0 0 1rem hsl(270, 56%, 25%));
}
.depth-layer:nth-child(2) {
  z-index: 6;
  filter: drop-shadow(0 0 1rem hsl(270, 56%, 30%));
}
.depth-layer:nth-child(3) {
  z-index: 5;
  filter: drop-shadow(0 0 1rem hsl(270, 56%, 35%));
}
.depth-layer:nth-child(4) {
  z-index: 4;
  filter: drop-shadow(0 0 1rem hsl(270, 56%, 27.5%));
}
.depth-layer:nth-child(5) {
  z-index: 3;
  filter: drop-shadow(0 0 1rem hsl(270, 56%, 75%));
}
.depth-layer:nth-child(6) {
  z-index: 2;
}

.depth-layer:nth-child(1) .depth-mask {
  --size: 90%;
  background: hsl(270, 56%, 50%);
}
.depth-layer:nth-child(2) .depth-mask {
  --size: 67.5%;
  background: hsl(270, 56%, 55%);
}
.depth-layer:nth-child(3) .depth-mask {
  --size: 45%;
  background: hsl(270, 56%, 60%);
}
.depth-layer:nth-child(4) .depth-mask {
  --size: 27.5%;
  background: hsl(270, 56%, 52.5%);
}
.depth-layer:nth-child(5) .depth-mask {
  --size: 15%;
  background: hsl(270, 56%, 55%);
}

@media (max-width: 1000px) {
  .depth-layer {
    width: 500%;
    height: 500%;
    top: -200%;
    left: -200%;
  }
}
