.team {
  padding: 2em 1em 5em 1em;
}

.team-row {
  display: flex;
  gap: 8em;
  margin-bottom: 4em;
}

.team-member {
  flex: 1;
}

.team-info {
  position: relative;
  top: 20px;
  opacity: 0;
  transition: all 0.3s;
}

.team-member:hover .team-info {
  top: 5px;
  opacity: 1;
}

.about-subhero {
  padding: 1em;
}

.about-page .hero-visions {
  background: var(--color-accent-bg);
}

.hovers {
  padding: 4em 1em 4em 1em;
  display: flex;
  gap: 1em;
}

.hovers > div {
  flex: 1;
}

.hover-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3em;
}

@media (max-width: 900px) {
  .team-row {
    flex-direction: column;
    gap: 3em;
  }

  .hovers {
    flex-direction: column;
  }
}
